body {
   font-family: Lato, sans-serif;
   text-align: center;
   margin: 100px 30px;
}

h1 {
   margin-bottom: 0;
}

p {
   color: #666;
   font-size: 18px;
}

.autocomplete {
   margin-top: 40px;
   font-size: 18px;
   position: relative;
   display: inline-block;
   background-color: yellow;
   max-width: 300px;
   width: 100%;
   text-align: left;
}

.autocomplete_input {
   font-family: inherit;
   font-size: inherit;
   border: 1px solid #ddd;
   padding: 10px;
   display: block;
   width: 100%;
   box-sizing: border-box;
   outline: none;
}

.autocomplete_suggestions-box {
   position: absolute;
   width: 100%;
   background-color: #f9f9f9;
   border: 1px solid #ccc;
   box-sizing: border-box;
   margin-top: -1px
}

.autocomplete_suggestion,
.autocomplete_text {
   padding: 10px;
   cursor: pointer;
}

.autocomplete_suggestion {
   cursor: pointer;
}

.autocomplete_suggestion--sel,
.autocomplete_suggestion:hover {
   background-color: blueviolet;
   color: white;
}

.autocomplete_text {
   opacity: 0.6;
}